/* Top Nav */

#topmenu{
	height: 80px;
	padding: 0px 40px;
}

#headerlogo{
	float: left;
	margin-top: 20px;
}

#headerlogo .logo{
	font-size: 30px;
	font-weight: 700;
}

#topmenu a{
	font-size: 18px;
	color:#2B5682;
}

#topmenu a:hover{
	text-decoration: none;
	color: #224467 ;
}

#navigation{
	float: right;
	height: 80px;
}

#navigation a{
	display: inline-block;
	height: 80px;
	padding: 30px 30px;

}

#navigation a:hover{
	color: white;
	background-color: #34CCFE;
}

#twitterlogo{
	position: absolute;
	display: block;
	width: 100px;
	left:50%;
	margin-top: -50px;
	margin-left: -50px;
}

.ez-blue{
	color:#34CCFE;
}

/* Body */
body h2, h3, h4{
	color:#2B5682;
	margin-bottom: 30px;
}


/* Wrapper */

#wrapper{
	height: 600px;
	font-family: 'Open Sans', 'Arial';
	background-color: #224467;
	padding:150px 50px;
}

#wrapper h1{
	color: white;
	text-shadow: 2px 2px 5px #2D5B8A;
	font-size:64px;
}


#wrapper h2{
	color: white;
	text-shadow: 1px 1px 3px #2D5B8A;
	font-size:18px;
	margin-bottom: 50px;
}

.cta{
	padding:20px 30px;
	font-size: 18px;
}

/* Comment ça marche */
.fa{
	color:#2B5682;
	font-size: 30px;
}

/* Spacers */
.spacer{
	height: 150px;
}

.spacer-sm{
	height: 60px;
}
